<div class = "row center-text">
<h2>Your FizzBuzz(ed)word Linkedin Summary</h2>
</div>
<div class = "row">
<h3>Summary</h3>
 <p>
 	<%@summary.each do |word|%>
 		<% if word[0] == 'Fizz' || word[0] == 'Buzzword'%>
 			<span href="#" data-toggle = "tooltip" title = <%=word[1]%>><%=word[0] %> </span>
 		<%else%>
 			<%=word %> 
 		<%end%>
 	<%end%>
 </p>
 <h3>Positions</h3>
 	<%@positions.each do |position|%>
 		<h4><%= position.company.name%></h4>
 		<h5><%= position.title%></h5>
 		<%unless position.summary.nil?%>
 		<p>
	 		<%position.summary.each do |word|%>
		 		<% if word[0] == 'Fizz' || word[0] == 'Buzzword'%>
		 			<span href="#" data-toggle = "tooltip" title = <%=word[1]%>><%=word[0] %> </span>
		 		<%else%>
		 			<%=word %> 
		 		<%end%>
		 	<%end%>
	 	</p>
	 	<%end%>
 	<%end%>
</div>